.button {
  font-family: var(--font-manrope);
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: 1.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outline {
  color: var(--color-dark-blue);
  background-color: transparent;
  font-weight: 600;
}
