.car {
  background-color: var(--color-light-blue);
  padding: 1.6rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.model {
  text-transform: capitalize;
  margin-bottom: auto;
}
.price {
  display: flex;
  align-items: center;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 16rem;
  margin-top: 1.2rem;
  object-fit: contain;
}
.image {
  object-fit: contain;
}
.details {
  position: relative;
}
.detailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.details:hover .detailContainer {
  opacity: 0;
}
.details:hover .button {
  opacity: 1;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.button {
  opacity: 0;
  transition: 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: 1.6rem;
}
