.searchBar {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.list {
  position: absolute;
  left: 0;
  top: 4rem;
  opacity: 0;
  transform: translateY(-4rem);
  transition: 0.2s ease-in;
  z-index: 2;
  max-width: 40rem;
  width: 100%;
  overflow-y: scroll;
  background-color: var(--color-light-grey);
  list-style: none;
}
.list.active {
  transform: translateY(0);
  opacity: 1;
}
.result {
  cursor: pointer;
  padding: 0.4rem 3.6rem;
  transition: 0.2s ease;
}
.result:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .makeButton {
    display: none;
  }
}
