.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
}
.element {
  display: flex;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  margin-bottom: 1rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: var(--color-light-grey);
  transition: 0.2s ease-in-out;
}
.link:hover {
  color: var(--color-dark-grey);
}
@media (max-width: 1068px) {
  .hero {
    flex-direction: column;
  }
}
