.modal {
  position: relative;
  background-color: var(--color-white);
  padding: 3.2rem;
  border-radius: 1.6rem;
  z-index: 100;
  animation: scaleUp 0.3s ease-in-out;
  height: 100%;
  max-height: 90vh;
  max-width: 90vh;
  width: 100%;
  overflow: scroll;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}
.button {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  background-color: var(--color-white);
  top: 1rem;
  right: 1rem;
  z-index: 2;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
